version: '3.8'

services:
  # Servicio del Backend
  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: sistema_iot_backend
    ports:
      - "8001:8001"
    volumes:
      - ./app:/app/app # Hot-reload: cambios en tu código local se reflejan en el contenedor
    env_file:
      - .env
    environment:
      - DB_HOST=host.docker.internal # Si tu BD está en tu PC local (fuera de docker)
      # Agrega aquí tus otras variables de entorno si tienes

  # Servicio del Frontend
  frontend:
    build:
      context: ./vue/frontend-vue
      dockerfile: Dockerfile
    container_name: sistema_iot_frontend
    ports:
      - "8081:8081" # Accederás al frontend en localhost:8081
    depends_on:
      - backend

# Si usas una red de base de datos específica, la puedes definir aquí, 
# pero por defecto Docker crea una red donde se ven entre ellos.