// 1. Importa tu nueva paleta de colores
@use "_variables.scss" as *;
// 2. Mueve aquí TODOS tus estilos globales

// ----------------------------------------
// LAYOUT PRINCIPAL
// ----------------------------------------
.plataforma-layout {
  .theme-dark {    background-color: $DARK-BG-CONTRAST; 
}
  display: flex;
  width: 100%;
  min-height: 100vh;
  transition: background-color 0.3s;
}

.plataforma-contenido {
  position: relative; /* Necesario para que el contenido de los hijos se posicione */
  .theme-dark {    background-color: $DARK-BG-CONTRAST; 
}
  margin-left: $WIDTH-CLOSED;
  flex-grow: 1;
  padding: 0; 
  transition: margin-left 0.3s ease-in-out;
  
  &.shifted {
    margin-left: $WIDTH-SIDEBAR;
  }
}

